html {
  font-size: 62.5%;
  background-color: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.podjela {
  height: 90vh;
  overflow: auto;
}

.row {
  max-width: 114rem;
  /* height: 60vh; */
  margin: 0 auto;
}

.row:not(:last-child) {
  margin-bottom: 0.5rem;
}

.row::after {
  content: '';
  display: table;
  clear: both;
}
.row [class^='col-'] {
  float: left;
}
.row [class^='col-']:not(:last-child) {
  margin-right: 3rem;
}
.row .col-1-of-2 {
  width: calc((100% - 3rem) / 2);
}
.row .col-1-of-3 {
  width: calc((100% - 2 * 3rem) / 3);
}
.row .col-2-of-3 {
  width: calc(2 * (100% - 2 * 3rem) / 3 + 3rem);
}
.row .col-1-of-4 {
  width: calc((100% - 3 * 3rem) / 4);
}
.row .col-2-of-4 {
  width: calc(2 * (100% - 3 * 3rem) / 4 + 3rem);
  margin: auto;
}
.row .col-3-of-4 {
  width: calc((100% - 3 * 3rem) * 3 / 4 + 2 * 3rem);
}

.col-1-4 {
  width: calc((100% - 3rem) / 2);
}

.col-2-4 {
  width: calc(2 * (100% - 3 * 3rem) / 4 + 3rem);
}

.col-1-2 {
  width: calc((100% - 3rem) / 2);
}

body {
  font-family: 'Cardo', serif;
  box-sizing: border-box;
  background-color: #fff;
}

.polja-smjer {
  display: flex;
  justify-content: space-around;
  text-align: center;
  align-items: center;
  margin: auto;
  background-color: #f7f7f7;
  /* background-color: rgba(255, 255, 255, 0.8); */
  background-size: 1.5rem;
  padding: 0.3rem;
  text-align: center;
  border-radius: 0.2rem;
  box-shadow: 0 1.5rem 1rem rgba(0, 0, 0, 0.15);
  transition: transform 0.5s;
}

.polja-smjer img {
  margin: 0 60px 0 60px;
  width: 30px;
  height: 40px;
}

/* .polja-smjer__icon {
  font-size: 4rem;
  margin-bottom: 0.5rem;
  display: inline-block;
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  color: transparent;
} */

.opis-zrna {
  font-size: 2rem;
  margin-top: 1rem;
  background-color: #f7f7f7;
  /* background-size: 1.5rem; */
  padding: 0.5rem;
  margin-bottom: 2rem;
  text-align: center;
  border-radius: 0.2rem;
  box-shadow: 0 1.5rem 1rem rgba(0, 0, 0, 0.15);
  transition: transform 1s;
}
/* .opis-zrna__icon {
  font-size: 4rem;
  margin-bottom: 0.5rem;
  display: inline-block;
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  color: transparent;
} */

.opis-molitve {
  /* background-color: rgba(255, 255, 255, 0.8); */
  background-color: #f7f7f7;
  margin-top: 1rem;
  /* background-size: 1.5rem; */
  padding: 0.5rem;
  text-align: center;
  /* border-radius: 0.2rem; */
  box-shadow: 0 1.5rem 1rem rgba(0, 0, 0, 0.15);
  transition: transform 0.5s;
  font-size: 2.5rem;
}

/* .opis-molitve__icon {
  font-size: 4rem;
  margin-bottom: 0.5rem;
  display: inline-block;
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  color: transparent;
} */

/* .opis-molitve:hover {
  transform: translateY(1.5rem) scale(1.1);
  font-size: 5rem;
} */

/* .opis-molitve p {
  font-size: 2rem;
} */

.molitva p {
  text-align: left;
  color: #1b921b;
}

.sli-baza {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 420px;
  height: 600px;
  /* background-color: transparent !important; */
}

.sli-gore {
  position: relative;
  width: 200px;
  height: 300px;
  top: 6rem;
  left: -6.5rem;
  z-index: 2;
  border-radius: 5rem;
  transform: scale(0.8);
  color: red;
  background-color: transparent;
}

.zaglavlje {
  display: flex;
  background-color: #f7f7f7;
  /* color: yellow; */
}

.dan h1 {
  color: #a8a846;
}

.povratak h1 a {
  color: #a8a846;
}

.card {
  perspective: 150rem;
  position: relative;
  height: 56rem;
}

.card__side {
  height: 60rem;
  transition: all 1s;
  position: absolute;
  top: 0;
  left: 0;
  width: 80%;
  backface-visibility: hidden;
  border-radius: 0.3rem;
  overflow: hidden;
  box-shadow: 0 1.5rem 4rem black;
}

.card__side--front {
  background-color: #f7f7f7;
  /* background-color: blue;  */
}

.card__side--back {
  transform: rotateY(180deg);
}

.card__side--back-1 {
  background-image: linear-gradient(to right bottom, #fff, #FFE100);
}

/* .card__side--back-2 {
  background-image: linear-gradient(to right bottom, #ffb900, #6730ff);
} */

/* .card__side--back-3 {
  background-image: linear-gradient(to right bottom, #7ed56f, #6730ff);
} */

.card:hover .card__side--front {
  transform: rotateY(-180deg);
}

.card:hover .card__side--back {
  transform: rotateY(0);
}

/* // prednja strana karte */
.card__picture {
  background-size: cover;
  height: 100%;
  width: 80%;
  background-blend-mode: screen;
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
}

.card__picture--1 {
  background-image: linear-gradient(to right bottom, #ffb900, #2b1f19),
    url(./slike/slika01.jpg);
  /* background-image: linear-gradient(to right bottom,  #f7f7f7, #f7f7f7), url(./slike/slika01.jpg);  */
}

/* .card__picture--2 {
  background-image: linear-gradient(to right bottom, #ffb900, #758b84),
    url(./slike/slika04.jpg);

} */

.card__heading {
  font-size: 3rem;
  font-weight: 300;
  text-transform: uppercase;
  text-align: right;
  color: #fff;
  /* color: orange; */
  position: absolute;
  top: 12rem;
  right: 2rem;
}

.card__heading-span {
  padding: 1rem 1rem;
}

.card__heading-span--1 {
  background-image: linear-gradient(
    to right bottom,
    rgba(41, 152, 255, 0.7),
    rgba(236, 236, 236, 0.7)
  );
}

.card__heading-span--2 {
  background-image: linear-gradient(
    to right bottom,
    rgba(255, 185, 0, 0.7),
    rgba(85, 197, 122, 0.7)
  );
}

.card__details {
  padding: 3rem;
}

.card__details ul {
  list-style: none;
  width: 80%;
  margin: 0 auto;
}

.card__details ul li {
  font-size: 2rem;
  text-align: center;
  padding: 1rem;
}

.card__details ul li:not(:last-child) {
  border-bottom: 1px solid #ffb900;
}

/* //straznja strana karte */
.card__cta {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  text-align: center;
}

.card__price-box {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: blueviolet;
}

.card__price-box p a {
  font-size: 2rem;
  /* margin-top: 1rem; */
}

.card__price-only {
  font-size: 1.5rem;
  text-transform: uppercase;
}

.card__price-value {
  font-size: 6rem;
  font-weight: 100;
}

p {
  font-size: 2rem;
}

.izlaz {
  display: block;
  /* background-color: rgba(255, 255, 255, 0.8); */
  margin-top: 0.5rem;
  /* background-size: 0.5rem; */
  padding: 0.2rem;
  text-align: center;
  border-radius: 1.2rem;
  box-shadow: 0 1.5rem 2rem rgba(0, 0, 0, 0.15);
  transition: transform 1s;
}

h1 {
  font-size: 1.5rem;
  padding: 0.5rem;
}

h2 {
  font-size: 2.5rem;
}

.text-mali {
  font-size: 1rem;
  border-radius: 1rem;
  opacity: 0.5;
}

.text-mali:hover {
  font-size: 1rem;
  opacity: 1;
  transform: scale(1.1);
  transition: all 0.3s;
}

.text-srednji {
  font-size: 2rem;
  padding: 1rem;
  /* margin-top: 1rem auto; */
  /* margin: 1rem auto !important; */
  color: #263238 !important;
  /* color: blue !important; */
}

.text-veliki {
  font-size: 3rem;
  text-align: center;
}

body {
  /* background-image: url(img/pocetna.jpg); */
  /* background-repeat: repeat; */
  font-family: 'Cardo', cursive;
  text-align: center;
}

a:link {
  text-decoration: none;
  color: #c2280c;
  opacity: 0.5;
}

a:visited {
  text-decoration: none;
  color: #c2280c;
  transform: scale(1.2);
  opacity: 1;
}

/* a:hover {
  color: green;
  text-decoration: none;
  opacity: 1;
  transform: scale(1.3);
  font-size: 2rem;
  transition: all 0.3s;
} */

a:active {
  text-decoration: none;
  color: #c2280c;
}

.aktivna {
  font-size: 1.5rem;
  color: blueviolet;
}

.zeleno {
  color: #1b921b;
}

#navbar ul {
  padding: 1rem;
  list-style-type: none;
  text-align: center;
  /* background-color: #dbd0d0; */
  background-color: #f7f7f7;
  margin: 1rem;
  margin-right: 1rem;
}

#navbar ul li {
  display: inline;
  margin-right: 5rem;
  font-size: 2rem;
}

.spusti {
  margin-top: 1rem;
  margin-bottom: 3rem;
  /* padding: 1rem; */
}

.uljepsaj_sliku {
  width: 420px;
  height: 600px;
  /* background-color: blue; */
  background-color: #f7f7f7;
}

.slika-krunice {
  position: relative;
  left: 0;
  top: 0;
  /* background-color: #6730ff; */
  /* height: 60vh; */
  width: 100%;
}

/*Mobile*/
/* aktivira se na sve manje od 768 px*/
@media only screen and (max-width: 768px) {
  .uljepsaj_sliku {
    display: none;
  }

  .row .col-1-of-2 {
    width: 100%;
  }

  .col-1-of-2 {
    width: 100%;
  }
  .card__picture {
    width: 100%;
  }
  .card__side {
    width: 100%;
  }

  .sli-baza {
    /* top: -50%; */
    left: 50%;
    width: 350px;
    height: 540px;
    transform: translateX(-50%);
    /* color: transparent !important; */
    opacity: 0.1;
    pointer-events: none;
    /* display: none; */
  }
  .sli-gore {
    display: none;
  }

  .col-1-of-2.slika-krunice {
    /* display: none; */
    position: absolute;
    /* background-color: red; */
    left: 50%;
    top: 5px;
    transform: translateX(-50%);
  }

  .row .col-2-of-4 {
    width: 100%;
  }
}
