*,
*::after,
*::before {
  margin: 0;
  padding: 0;
 box-sizing: inherit;
}

html {
  // ovo definira sto je 1rem !! 
font-size: 62.5%;
background-color: antiquewhite;
}

body {
  // font-family: "Lato","Cardo" sans-serif;
  font-family:"Cardo", serif;
  box-sizing: border-box;
}


