.opis-molitve {

 background-color: rgba($color-white, .8);
 margin-top: 3rem;
 background-size: 1.5rem;
 padding: 2rem;
 text-align: center;
 border-radius: 3px;
 box-shadow: 0 1.5rem 1rem rgba($color-black, .15);
 transition: transform 0.5s;

   &__icon {
     font-size: 4rem;
     margin-bottom: .5rem;
     display: inline-block;
     background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
     color: transparent;
   }

   &:hover {
     transform: translateY(1.5rem) scale(1.1);
     font-size: 5rem;
   }

   & p  {
    font-size: 2rem;
    // color:blue;
   }

}

.molitva p  {
  text-align: left;
  color: #1b921b;
 }